.contact__wrapper{
  h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #a8a8a8;
    font-family: 'Bungee', cursive;
    text-transform: uppercase;
  }

  .contact__form{
      display: flex;
      padding-bottom: 120px;
      position: relative;
      
      form{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        /* box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.33); */
        padding: 1rem;
        width: 100%;
        margin: auto;
      }
      input{
        width: 50%;
        border: none;
        background-color: #F5F3F5;
        border-radius: 10px ;
        border: solid black 1px;
        padding-left: 1rem;
        padding: 1rem;
        margin-bottom: 0.5rem;
        
      }
      textarea{
        width: 80%;
        padding-bottom: 6rem;
        padding-top: 1rem;
        padding-left: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 1.5rem;
        border: none;
        background-color: #F5F3F5;
        overflow: scroll;
        word-wrap: break-word;
        resize: none;

        &::-webkit-scrollbar {
          display: none;
        }
    }
    &__message{
      background-color: #00800025;
      padding: 1.5rem;
      text-align: center;
      color: white;
      margin-top: 1rem;
      animation-name: sendMessage;
      animation-duration: 6s;
      border-radius: 25px;
      font-size: 1.25rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 25px;
      left: 0;
    }
  }
}
@keyframes sendMessage {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  
}
.contact__map{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 650px) {
  .contact__wrapper{
    h1{
      font-size: 3rem;
      text-align: center;
    }
  }
  .contact{
    display: flex;

    &__form {
      width: 50%;

      button{
        height: 2rem;
        width: 35%;
        border-radius: 5px;
      }

    }
    &__map{
      width: 50%;

      iframe{
        width: 80%;
        border: solid white 1px;
        padding: 1rem;
      }
    }
  }
  
}